/* Global Declarations */

*, *::before, *::after {
    box-sizing: border-box;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

/* Colors */

:root {
    --hue-neutral: rgb(160, 0, 255);
    --hue-background: rgb(255, 255, 255);
}

body {
    --hue: var(--hue-neutral);
    padding: 0;
    margin: 0;
    /* display: flex;  */
    /* justify-content: center; 
    align-items: center;  */
    background-color: var(--hue-background);
}

/* Main Container Section */

.container {
    background-color: var(--hue-background);
    flex-direction: column;
    width: 50%;
    padding: 20px;
    margin: auto;
}

h1 {
    justify-content: center;
    display: flex;
    padding: 10px;
    font-weight: bolder;
    font-size: 24px;
    text-align: center;
}

.container p {
    justify-content: center; 
    display: flex;
    font-weight: bold;
    padding: 4px;
    text-align: center;
}

/* Buttons */

.btn-grid {
    display: grid;
    grid-template-columns: repeat(1, auto);
    gap: 10px; 
    margin: 20px 0;
}

.btn {
    --hue: var(--hue-neutral);
    background-color: var(--hue-neutral);
    border: 10px solid hsl(var(--hue-neutral));
    border-radius: 5px; 
    padding: 5px 10px; 
    outline: none; 
    margin-top: 10px;
}

.answerbtn {
    width: 50%;
    text-align: left;
    font-size: 1.5vw;
}

.btn:hover {
    box-shadow: 0 2px grey;
    border-radius: 10px;
    opacity: 80%;
    cursor: pointer;
}

.btn:focus {
    outline: none;
}

.start-btn {
    font-size: 1.5rem; 
    font-weight: bold; 
    padding: 10px 20px; 
    margin: 10px;
}

.controls {
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

.startend {
    width: 25%;
    margin-top: 10px;
}

/* Top Bar */

.top-bar p {
    float: right;
}

.top-bar button {
    background-color: var(--hue-background);
    border-style: none;
    color: var(--hue-neutral)
}

.top-bar button:hover {
    cursor: pointer;
}

.hide {
    display: none;
}

/* banners  */

.banner {
    font-size: 25px;
    text-align: center;
    color: rgba(199, 187, 187, 0.8);
    font-style: italic;
    margin: 0 100px;
}

.banner h2 {
   border-top: 2px solid rgba(199, 187, 187, 0.8);
   margin: 0 auto;
   text-align: center;
   padding-top: 5px;
}

/* Quiz Section */

.questions {
    align-items: flex-start;
    justify-content: flex-start;
    padding: 40px 20px;
    margin: auto;
  }

#question {
    color: black;
    text-align: left;
    font-size: 3.0rem;
    font-weight: bold;
}

.end-container {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}

/* Highscores Screen */

.highscores-screen {
    display: block;
}

ol {
    list-style-type: number;
}

li {
    font-size: 4vw;
}

@media screen and (max-width: 1024px) {

    .btn {
        width: 100%;
        font-size: 3.0vw;
    }

    #question {
        font-size: 4.5vw;
    }

    h1 {
        font-size: 4.5vw;
    }

    p {
        font-size: 3.0vw;
    }

}