/* Global Declarations */

*, *::before, *::after {
    box-sizing: border-box;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

/* Colors */

:root {
    --hue-neutral: rgb(160, 0, 255);
    --hue-background: rgb(255, 255, 255);
}

body {
    --hue: var(--hue-neutral);
    padding: 0;
    margin: 0;
    /* display: flex;  */
    width: 100vw;
    height: 100vh;
    /* justify-content: center; 
    align-items: center;  */
    background-color: var(--hue-background);
}

/* Main Container Section */

.container {
    width: 50%;
    max-width: 80%; 
    background-color: var(--hue-background);
    padding: 10px;
    margin: 0 auto;
}

.info-header {
    justify-content: center;
    display: flex;
    padding: 15px;
    font-weight: bolder;
    font-size: 24px;
}

.info-h1 {
    justify-content: center; 
    display: flex;
    font-weight: bold;
    padding: 3px;
}

/* Outer Container Section */

.outer-container {
    padding: 10px;
    height: 100vh;
}

/* Buttons */

.btn-grid {
    display: grid;
    grid-template-columns: repeat(1, auto);
    gap: 10px; 
    margin: 20px 0;
}

.btn {
    --hue: var(--hue-neutral);
    background-color: var(--hue-neutral);
    border: 10px solid hsl(var(--hue-neutral));
    border-radius: 5px; 
    padding: 5px 10px; 
    outline: none; 
}

.btn:hover {
    box-shadow: 0 2px grey;
    border-radius: 10px;
    opacity: 80%;
    cursor: pointer;
}

.btn:focus {
    outline: none;
}

.start-btn {
    font-size: 1.5rem; 
    font-weight: bold; 
    padding: 10px 20px; 
    margin: 10px;
}

.controls {
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

.startend {
    width: 25%;
    margin-top: 10px;
}

/* Top Bar */

.top-bar p {
    float: right;
}

.top-bar button {
    background-color: var(--hue-background);
    border-style: none;
    color: var(--hue-neutral)
}

.top-bar button:hover {
    cursor: pointer;
}

.hide {
    display: none;
}

/* Quiz Section */

.quiz-finish {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}

/* Highscores Screen */

.highscores-screen {
    display: block;
}

ol {
    list-style-type: number;
}

li {
    font-size: 4vw;
}